*{
    margin: 0;
}

html, body{
    height: 100%;
}


.main{
    display: flex;
    flex-direction: row;
    justify-content: end;
    min-height: 97%;
}

#video{
    flex: 1;
    margin: 15vh 0 0 15vw;
    /* width: 40vw; */
}

#title{
    margin-bottom: 15px;
    margin-top: 10px;
}

#lyrics {
    /* width: 50vw; */
    flex: 1;
    margin: 0 15vw 0 5px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    background-color: rgb(118, 129, 139);
    position: relative;
    width: 100%;
    bottom: 0;
    margin-bottom: 0px;
    padding-top: 10px;
}

a{
    text-decoration: none;
    color: black;
}
